:root, [data-bs-theme=light] {
  --bs-primary: #294ca9;
  --bs-primary-rgb: 41,76,169;
  --bs-primary-text-emphasis: #101E44;
  --bs-primary-bg-subtle: #D4DBEE;
  --bs-primary-border-subtle: #A9B7DD;
  --bs-secondary: #ffc800;
  --bs-secondary-rgb: 255,200,0;
  --bs-secondary-text-emphasis: #665000;
  --bs-secondary-bg-subtle: #FFF4CC;
  --bs-secondary-border-subtle: #FFE999;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #294ca9;
  --bs-btn-border-color: #294ca9;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #234190;
  --bs-btn-hover-border-color: #213D87;
  --bs-btn-focus-shadow-rgb: 223,228,242;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #213D87;
  --bs-btn-active-border-color: #1F397F;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #294ca9;
  --bs-btn-disabled-border-color: #294ca9;
}

.btn-outline-primary {
  --bs-btn-color: #294ca9;
  --bs-btn-border-color: #294ca9;
  --bs-btn-focus-shadow-rgb: 41,76,169;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #294ca9;
  --bs-btn-hover-border-color: #294ca9;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #294ca9;
  --bs-btn-active-border-color: #294ca9;
  --bs-btn-disabled-color: #294ca9;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #294ca9;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffc800;
  --bs-btn-border-color: #ffc800;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFD026;
  --bs-btn-hover-border-color: #FFCE19;
  --bs-btn-focus-shadow-rgb: 38,30,0;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFD333;
  --bs-btn-active-border-color: #FFCE19;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ffc800;
  --bs-btn-disabled-border-color: #ffc800;
}

.btn-outline-secondary {
  --bs-btn-color: #ffc800;
  --bs-btn-border-color: #ffc800;
  --bs-btn-focus-shadow-rgb: 255,200,0;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ffc800;
  --bs-btn-hover-border-color: #ffc800;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ffc800;
  --bs-btn-active-border-color: #ffc800;
  --bs-btn-disabled-color: #ffc800;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffc800;
}

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ms-1 {
  margin-left: 0.25rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

@media (min-width: 576px) {
  .my-sm-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
}

@media (min-width: 576px) {
  .py-sm-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }
}

@media (min-width: 576px) {
  .ps-sm-2 {
    padding-left: 0.5rem !important;
  }
}

@media (min-width: 768px) {
  .my-md-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
}

@media (min-width: 768px) {
  .p-md-5 {
    padding: 3rem !important;
  }
}

@media (min-width: 768px) {
  .py-md-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }
}

@media (min-width: 992px) {
  .my-lg-0 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }
}

@media (min-width: 992px) {
  .my-lg-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
}

@media (min-width: 992px) {
  .mt-lg-5 {
    margin-top: 3rem !important;
  }
}

@media (min-width: 992px) {
  .py-lg-0 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
}

@media (min-width: 992px) {
  .py-lg-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }
}

@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0rem !important;
  }
}

@media (min-width: 1200px) {
  .my-xl-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
}

@media (min-width: 1200px) {
  .my-xl-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .p-xl-4 {
    padding: 1.5rem !important;
  }
}

@media (min-width: 1200px) {
  .px-xl-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .py-xl-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }
}

@media (min-width: 1200px) {
  .py-xl-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .pt-xl-0 {
    padding-top: 0rem !important;
  }
}

@media (min-width: 1400px) {
  .my-xxl-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
}

